<div class="container">
  <div class="row">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile">
          <li>
            <a href="/">
              <img src="assets/share-logo.png" alt="" class="small-img" />
            </a>
          </li>
          <li>
            <a id="clubs" class="nav-font"   href="/clubs">Клубы</a>
          </li>
          <li>
            <a id="instructors" class="nav-font" href="/instructors">Инструктора</a>
          </li>
          <li>
            <a id="events" class="nav-font" href="/events">События</a>
          </li>
          <app-logout class="right"></app-logout>
          <app-login-enter class="right"></app-login-enter>
        </ul>
      </div>
    </nav>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
