<br>
<br>
<div id = "searchForm" class = "row">
  <form class="col s12">
    <div class="row">
      <div class="col s3">
        <input
          id="instructor"
          type="text"
          name="instructor"
          placeholder="Instructor"
          required
          #instructor = "ngModel"
          [(ngModel)] = "eventSearch.instructor"
          >
        <label for="instructor">Поиск по инструктору</label>
      </div>
      <div class="col s3">
        <input
          id="city"
          type="text"
          name="city"
          placeholder="City"
          required
          #city = "ngModel"
          [(ngModel)] = "eventSearch.city"
        >
        <label for="city">Поиск по городу</label>
      </div>
      <div class="col s2">
        <input
          id="dateFrom"
          type="date"
          name="dateFrom"
          placeholder="Date from"
          required
          #startTraining = "ngModel"
          [(ngModel)] = "eventSearch.dateFrom"
        >
        <label for="dateFrom">От какого числа</label>
      </div>

      <div class="col s2">
        <input
          id="dateTo"
          type="date"
          name="dateTo"
          placeholder="Date to"
          required
          #startTraining = "ngModel"
          [(ngModel)] = "eventSearch.dateTo"
        >
        <label for="dateTo">По какое число</label>
      </div>

      <div class="col s2">
        <button id="searchButton" type="submit" class="btn waves-effect waves-light right" (click)=onSearch()>Найти</button>
      </div>
    </div>
  </form>
</div>

<div class="col s12 m6" *ngFor="let event of events">
  <app-event
    [event]="event"
    (go)="onGo(event.id)"
    (mayBe)="onMayBe(event.id)"
    (remove)="onRemove(event.id)"
  ></app-event>
</div>

<a class="c-fixed-fab btn-floating btn-large waves-effect waves-light red" (click)="modal.onAdd()" *ngIf="isAuth"><i class="material-icons">add</i></a>

<app-event-add-modal #modal (save)="onSave()"></app-event-add-modal>
