<div id="index-banner" class="parallax-container ">
  <div class="parallax"><img src="assets/runners2.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Быстрый выбор</h5>

          <p class="light">Наш сайт позволит Вам быстро определится с выбором клуба для бега в Вашем городе. На нашем сайте представлены наиболее активные клубы для бега с опытными инструкторами</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Лучшие инструктора</h5>

          <p class="light">Наш сайт позволит в максимально короткие сроки подобрать Вам инструктора в вашем городе. Смотрите информацию, учавствуйте в событиях, смотрите обучающее видео Вашего инструктора</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">event_available</i></h2>
          <h5 class="center">В мире событий</h5>

          <p class="light">Учавствуйте в мероприятиях проводимых лучшими инструкторами Вашего города и не только. Заявляйте о желании учавстовать и смотрите видео о прошедших мероприятиях</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Будь самым быстрым как в беге так и в принятии решений</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/runner3.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Найди Себя</h4>
        <p class="left-align light">Движение Running Russia организует бесплатные еженедельные забеги на 5, 10, 20 км. Участвовать в забегах могут все желающие, это бесплатно, безопасно и легко.Наши забеги проходят в живописных парках, и мы будем рады видеть всех бегунов, независимо от уровня подготовки: от совсем начинающих до участников Олимпийских игр, от юниоров до ветеранов! Наши иснструктора подготовят Вас к самым высоким нагрузкам и сделают Вас сильнее.</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Современные технологии на страже вашего самочувствия</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/running4.jpg" alt="Unsplashed background img 3"></div>
</div>
