<div class="row">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h4>О нас</h4>
    <p class="left-align light">
      Наш клуб {{club.name}} является частью сети клубов и рад представить Вам информацию о расположении, инструкторах и событиях.
    </p>
  </div>
</div>

<div class="parallax-container center">
  <img src="assets/poster_none.png" *ngIf="club.poster === null || club.poster ===''" class="center">
  <img src="http://localhost:8080/images/{{club.poster}}" *ngIf="club.poster !== null && club.poster !==''">
</div>

<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m6">
    <div class="center">
      <h2 class="center brown-text"><i class="material-icons medium-icon">location_on</i></h2>
      <p>Наш клуб находится в городе {{club.city}} по адресу: {{club.street}}</p>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="center">
      <h2 class="center brown-text"><i class="material-icons medium-icon">group</i></h2>
      <p>В состав наших инструкторов входят:</p>
      <ul *ngFor="let instructor of club.instructors; let i = index">
        <li class="collection-item">{{i+1}}.{{instructor.fullName}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="row" *ngIf="club.events.length>0">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h5>Наши события</h5>
    <br><br>
    <table class="striped">
      <thead>
        <tr>
          <th>N</th>
          <th>Название</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of club.events; let i = index">
          <td>{{i+1}}</td>
          <td>{{event.title}}</td>
          <td>{{event.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
