<div id="eventAddModal" class="modal">
  <div class="modal-content">
    <h4>Event Add</h4>
    <div class="row">
      <form class="col s12" #eventAddForm ="ngForm">

        <div class="row">
          <div class="col s12">
            <label for="title">Title</label>
            <input
              id="title"
              name="title"
              type="text"
              placeholder="Title"
              required
              #name = "ngModel"
              [(ngModel)] = "event.title"
            >
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <label for="date">Date</label>
            <input
              id="date"
              type="date"
              name="date"
              placeholder="Date"
              required
              #startTraining = "ngModel"
              [(ngModel)] = "event.date"
            >
          </div>
        </div>

        <label for="club">Club</label>
        <select class="browser-default"
                id="club"
                name="club"
                required
                #club= "ngModel"
                [(ngModel)] = "event.club"
        >
          <option
            *ngFor="let club of clubs" [ngValue]="club">{{club.name}}</option>
        </select>


        <label for="instructor">Instructor</label>
        <select class="browser-default"
                id="instructor"
                name="instructor"
                required
                #instructor= "ngModel"
                [(ngModel)] = "event.organizer"
        >
          <option
            *ngFor="let instructor of instructors" [ngValue]="instructor">{{instructor.fullName}}</option>
        </select>

        <div class="row">
          <div class="col s12">
            <label for="description">Event Description</label>
            <textarea
              id="description"
              name="description"
              class="materialize-textarea"
              required
              minlength="5"
              #description="ngModel"
              [(ngModel)]="event.description"
            ></textarea>
          </div>
        </div>

        <div class="file-field input-field">
          <div class="btn">
            <span>Poster</span>
            <input
              id = "poster"
              name = "poster"
              type="file"
              placeholder="Event poster"
              (change)="addPhoto($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript: void(0);" class="modal-action waves-effect waves-green btn-flat"(click)="onCancel()">Cancel</a>
    <a href="javascript: void(0);" class="modal-action waves-effect waves-green btn-flat" (click)="onSave()">Save</a>
  </div>
</div>

