<div id="instructorAddModal" class="modal">
  <div class="modal-content">
    <h4>Instructor Add</h4>
    <div class="row">
      <form class="col s12" #instructorAddForm ="ngForm">

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">person</i>
            <input
              id="username"
              name="username"
              type="text"
              placeholder="UserName"
              minlength="5"
              required
              #name = "ngModel"
              [(ngModel)] = "instructor.username"
            >
            <label for="username">User Name</label>
          </div>

          <div class="input-field col s6" >
            <i class="material-icons prefix">security</i>
            <input
              id="password"
              name="password"
              type="password"
              placeholder="Password"
              minlength="5"
              required
              #name = "ngModel"
              [(ngModel)] = "instructor.password"
            >
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input
              id="name"
              name="name"
              type="text"
              placeholder="FullName"
              required
              #name = "ngModel"
              [(ngModel)] = "instructor.fullName"
            >
            <label for="name">Full Name</label>
          </div>

          <div class="input-field col s6" >
            <i class="material-icons prefix">phone</i>
            <input
              id="phone"
              name="phone"
              type="tel"
              placeholder="Phone"
              required
              #name = "ngModel"
              [(ngModel)] = "instructor.phone"
            >
            <label for="phone">Telephone</label>
          </div>
        </div>

        <div class="row">
          <p class="range-field">
            <input
              type="range"
              id="age"
              required
              min="0"
              max="100"
              step="1"
              name="age"
              #age = "ngModel"
              [(ngModel)] = "instructor.age"/>
            <label for="age">Age</label>
          </p>
        </div>

        <div class="row">
          <label for="date">Start training:</label>
          <input
            id="date"
            type="date"
            name="date"
            placeholder="Start training"
            required
            #startTraining = "ngModel"
            [(ngModel)] = "instructor.startTraining"
          >
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input
              id="experience"
              name="experience"
              type="number"
              placeholder="Experience"
              required
              #experience= "ngModel"
              [(ngModel)] = "instructor.experience"
            >
            <label for="experience">Experience</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input
              id="vkProfile"
              name="vkProfile"
              type="text"
              placeholder="VK Profile"
              #vkProfile = "ngModel"
              [(ngModel)] = "instructor.vkProfile"
            >
            <label for="vkProfile">Vk Profile</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input
              #regalia
              id="regalia"
              name="regalia"
              type="text"
              placeholder="Regalia"
              (keyup.enter)="addRegalia(regalia.value)"
            >
            <label for="regalia">Regalia</label>
          </div>
        </div>

        <label for="club">Club</label>
        <select class="browser-default"
                id="club"
                name="club"
                required
                #club= "ngModel"
                [(ngModel)] = "instructor.club"
                >
            <option
              *ngFor="let club of clubs" [ngValue]="club">{{club.name}}</option>
        </select>


        <div class="file-field input-field">
          <div class="btn">
            <span>Avatar</span>
            <input
              id = "avatar"
              name = "avatar"
              type="file"
              placeholder="Instructor Ava"
              (change)="addPhoto($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript: void(0);" class="modal-action waves-effect waves-green btn-flat"(click)="onCancel()">Cancel</a>
    <a href="javascript: void(0);" class="modal-action waves-effect waves-green btn-flat" (click)="onSave()">Save</a>
  </div>
</div>
