<div class="card">
  <div class="card-image">
    <img src="assets/poster_none.png" *ngIf="club.poster === null || club.poster ===''">
    <img src="http://localhost:8080/images/{{club.poster}}" *ngIf="club.poster !== null && club.poster !==''">
    <span class="card-title">{{club?.name}}</span>
  </div>
  <div class="card-content">
    <h5>{{club?.city}}</h5>
    <h6>{{club?.street}}</h6>
  </div>
  <div class="card-action">
    <a [routerLink]="['/', 'clubs', club?.id]">Подробнее</a>
    <a href="#" class="remove-reference secondary-content" (click)="onRemove()" *ngIf="isAuth"><i class="material-icons right small-delete-icon">delete</i></a>
  </div>
</div>
