<div class="parallax-container center">
  <img src="assets/poster_none.png" *ngIf="instructor.avatar === null || instructor.avatar ===''">
  <img src="http://localhost:8080/images/{{instructor.avatar}}" *ngIf="instructor.avatar !== null && instructor.avatar !==''">
</div>

<div class="row">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h4>Детальная информация</h4>
  </div>
</div>

<div class="row">
  <div class="col s3 center">
    <div class="center">
      <i class="material-icons big-icon">account_circle</i>
    </div>
  </div>
  <div class="col s9">
    <p>Имя: {{instructor.fullName}}</p>
    <p>Возраст: {{instructor.age}}</p>
    <p>Профиль: <a>{{instructor.vkProfile}}</a></p>
  </div>
</div>

<div class="row">
  <div class="col s3 center">
    <div class="center">
      <i class="material-icons big-icon">date_range</i>
    </div>
  </div>
  <div class="col s9">
    <p>Начал вести тренировки: {{instructor.startTraining}}</p>
    <p>Опыт: {{instructor.experience}}</p>
  </div>
</div>

<div class="row" *ngIf="instructor.regalia.length>0">
  <div class="col s3 center">
    <div class="center">
      <i class="material-icons big-icon">star_border</i>
    </div>
  </div>
  <div class="col s9" >
    <p> Достижения: </p>
    <p *ngFor="let r of instructor.regalia">{{r}}</p>
  </div>
</div>

<div class="row">
  <div class="col s3 center">
    <div class="center">
      <i class="material-icons big-icon">location_city</i>
    </div>
  </div>
  <div class="col s9">
    <p>Клуб: {{instructor.club.name}}</p>
    <p>Город: {{instructor.club.city}}</p>
    <p>Адрес: {{instructor.club.street}}</p>
  </div>
</div>

<div class="row">
  <div class="col s3 center">
    <div class="center">
      <i class="material-icons big-icon">contact_phone</i>
    </div>
  </div>
  <div class="col s9">
    <p>Контактный телефон: {{instructor.phone}}</p>
  </div>
</div>

<div class="row" *ngIf="instructor.events.length>0">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h5>События инструктора</h5>
    <br><br>
    <table class="striped">
      <thead>
      <tr>
        <th>N</th>
        <th>Название</th>
        <th>Дата</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of instructor.events; let i = index">
        <td>{{i+1}}</td>
        <td>{{event.title}}</td>
        <td>{{event.date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
