<div class="card">
  <div class="card-image">
    <img src="assets/poster_none.png" *ngIf="event.poster === null || event.poster ===''">
    <img src="http://localhost:8080/images/{{event.poster}}" *ngIf="event.poster !== null && event.poster !==''">
    <span class="card-title">{{event?.title}}</span>
  </div>
  <div class="card-content">
    <h5>{{event?.date}}</h5>
    <p><i class="material-icons green-text small-men-icon">directions_run</i> {{event?.go}}</p>
    <p><i class="material-icons yellow-text small-men-icon">directions_walk</i> {{event?.mayBe}}</p>
  </div>
  <div class="card-action">
    <a href="javascript: void(0);" (click)="onGo()" disabled>Пойду</a>
    <a href="javascript: void(0);" (click)="onMayBe()">Возможно пойду</a>
    <a href="javascript: void(0);" class="remove-reference secondary-content" (click)="onRemove()" *ngIf="isAuth"><i class="material-icons small-delete-icon">delete</i></a>
    <a [routerLink]="['/', 'events', event?.id]">Подробнее</a>
  </div>
</div>
