<ul class="collection" *ngFor="let instructor of instructors">
  <li class="collection-item avatar">
    <a [routerLink]="['/', 'instructors', instructor?.id]">
      <img src="assets/poster_none.png" alt="" class="circle" *ngIf="instructor.avatar === null || instructor.avatar ===''">
      <img src="http://localhost:8080/images/{{instructor.avatar}}" alt="" class="circle" *ngIf="instructor.avatar !== null && instructor.avatar !==''">
    </a>
    <span class="title">{{instructor.fullName}}</span>
    <p>{{instructor.phone}}</p>
    <a href="javascript: void(0);" class="remove-reference secondary-content" (click)="onRemove(instructor.id)" *ngIf="isAuth"><i class="material-icons small-delete-icon">delete</i></a>
  </li>
</ul>

<a class="c-fixed-fab btn-floating btn-large waves-effect waves-light red" (click)="modal.onInsAdd()" *ngIf="isAuth"><i class="material-icons">add</i></a>

<app-instructor-add-modal #modal (save)="onSave()"></app-instructor-add-modal>
