<div class="row">
  <div class="col s12 center">
    <h3><i class="mdi-content-send brown-text"></i></h3>
    <h4>Описание события : {{event.title}}</h4>
    <h5 class="left-align light">{{event.description}}</h5>
  </div>
</div>

<br>

<div class="parallax-container center">
  <img src="assets/poster_none.png" *ngIf="event.poster === null || event.poster ===''">
  <img src="http://localhost:8090/images/{{event.poster}}" *ngIf="event.poster !== null && event.poster !==''">
</div>

<br>
<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m4">
    <div class="center">
      <h2 class="center brown-text"><i class="material-icons medium-icon">location_on</i></h2>
      <p>Город: {{event.club.city}}</p>
      <p>Адрес: {{event.club.street}}</p>
      <p>Клуб: {{event.club.name}}</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="center">
      <h2 class="center brown-text"><i class="material-icons medium-icon">date_range</i></h2>
      <p>Дата: {{event.date}}</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="center">
      <h2 class="center brown-text"><i class="material-icons medium-icon">face</i></h2>
      <p>Организатор: {{event.organizer.fullName}}</p>
      <p>Телефон: {{event.organizer.phone}}</p>
    </div>
  </div>
</div>
