/* You can add global styles to this file, and also import other style files */
.c-fixed-fab {
  position: fixed;
  z-index: 99;
  bottom: 28px;
  right: 28px;
}

.big-icon {
  position: relative;
  font-size: 50px;
  top: 20px;
}

.medium-icon {
  font-size: 40px;
}

.small-delete-icon {
  position: relative;
  font-size: 30px;
  top: 4px;
}

.small-men-icon {
  font-size: 30px;
}

.nav-font {
  color : white;
  font-size: 16px;
}

.small-img {
  height: 48px;
  width: 96px;
}
