<div id="clubAddModal" class="modal">
  <div class="modal-content">
    <h4>Club Details</h4>
    <div class="row">
      <form class="col s12" #clubAddForm ="ngForm">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Name"
              required
              #name = "ngModel"
              [(ngModel)] = "club.name"
            >
            <label for="name">Club Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="city"
              name="city"
              type="text"
              placeholder="City"
              required
              #city = "ngModel"
              [(ngModel)] = "club.city"
            >
            <label for="city">Club City</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="street"
              name="street"
              type="text"
              placeholder="Street"
              #street = "ngModel"
              [(ngModel)] = "club.street"
            >
            <label for="street">Club Street</label>
          </div>
        </div>

        <div class="file-field input-field">
          <div class="btn">
            <span>Poster</span>
            <input
              id = "poster"
              name = "poster"
              type="file"
              placeholder="Club Poster"
              (change)="addPhoto($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript: void(0);" class="modal-action waves-effect waves-green btn-flat"(click)="onCancel()">Cancel</a>
    <a href="javascript: void(0);" class="modal-action waves-effect waves-green btn-flat" (click)="onSave()">Save</a>
  </div>
</div>
