<div class="col s12 m6" *ngFor="let club of clubs">
<app-club
  [club]="club"
  (remove)="onRemove(club.id)"
></app-club>
</div>

<a class="c-fixed-fab btn-floating btn-large waves-effect waves-light red" (click)="modal.onAdd()" *ngIf="isAuth"><i class="material-icons">add</i></a>

<app-club-add-modal #modal (save)="onSave()"></app-club-add-modal>

